/* Your custom css code goes here */
.probootstrap-animate img{
	position: center;
}
#labs{
	padding-top: 6%;
	padding-bottom: 6%;
}
.probootstrap-sidebar-inner{
	background-color: #49D292;
	
}
ul a{
	color: #DBE2F6;
}


/* login  */

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}

.social-login input{
	width:50%;
	float: left;
    clear:fix;
    color: #fff;
    display:block;
	font-size:13px;
	padding:10px 0;
	text-decoration:none;
}

.social-login #gbtn {
	
	background:#e74c3d;
}
.social-login #fbbtn{
	background:#3b5998;
}
