/* Your custom css code goes here */
.probootstrap-animate img{
	position: center;
}
#labs{
	padding-top: 6%;
	padding-bottom: 6%;
}
.probootstrap-sidebar-inner{
	background-color: #49D292;
	
}
ul a{
	color: #DBE2F6;
}


/* login  */

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:50%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
